body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

canvas {
  display: block;
}

#gameCanvas {
  border: 1px solid black;
  background-color: #f0f0f0;
  transform: translate(
    20%,
    10%
  ); /* change depending on screen the game is displayed on; idk how to make it universal yet */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
}